*{
    margin: 0;
    padding: 0;
}

body{
    background-image:url("../img/altiplano.jpg");
}

.contenedor textarea{
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    width: 26rem;
    height: 30rem;
    resize: none;
    outline: none !important;
    border: 5px solid #095e5e;
}

.contenedor {
    display: flex;
    align-content: center;
    justify-content: center;
}

#caixa1 {
    margin-top: 1rem;
    align-content: center;
    justify-content: center;
    display: inline-flex;
}

.titulo{
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    border-radius: 2px;
    text-shadow: .3rem .4rem 2px rgba(0, 0, 0, .3);
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    margin-left: 20px;
    margin-right: 20px;
    background: -webkit-linear-gradient(to right, #0AA, #15645e);
    background: linear-gradient(to left, #0AA, #15645e); 
    background-image: url("../img/wiphala.jpg");
}

.entrada{
    padding-top: 1rem;
}

.entrada{
    text-align: left;
    text-decoration: none;
    border: 1px solid #afcec1;
    border-radius: 5px;
    background-color: rgb(166, 212, 166);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
}

.btn-scanner{
    margin: 18px;
    color: #030303;
    font-size: 26px;
    background-color: rgba(170, 115, 44, 0.687);
    border: 5px solid #008080;
    border-radius: 30px;
    padding: 20px;
    cursor: pointer;
    transition: 0.8s;
    font-weight:bold;
    transition: color 1s;
    margin-left: 1rem;
    width: 16rem;
    height: 5rem; 
}

.btn-limpar{
    margin: 18px;
    color: #030303;
    font-size: 26px;
    background-color: rgba(170, 115, 44, 0.687);
    border: 5px solid #008080;
    border-radius: 30px;
    padding: 20px;
    cursor: pointer;
    transition: 0.8s;
    font-weight:bold;
    transition: color 1s; 
    margin-left: 1rem; 
    width: 16rem;
    height: 5rem;
}
.btn-descargar{
    margin: 5px;
    color: #008080;
    font-size: 25px;
    background-color: rgb(166, 212, 166);
    border: 3px solid #008080;
    border-radius: 25px;
    padding: 20px;
    cursor: pointer;
    transition: 0.8s;
    font-weight:bold;
    transition: color 1s;
    width: 21rem;
    height: 4rem; 
}

.reader{
    margin: 2px;
    color: #008080;
    font-size: 22px;
    background-color: rgb(166, 212, 166);
    border: 3px solid #008080;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.8s;
    transition: color 1s;
    width: 33rem;
    height: 2.5rem;
    padding-top:6px;
    padding-left: 10px;
}

.btn-limpar:hover {
    background-color: #0AA;
    border-color: #008080;
    color: white;
}

.btn-scanner:hover{
    background-color: #0AA;
    border-color: #008080;
    color: white;
}


.tabela{
    margin-top: 1rem;
    max-width: 800px;
    border-radius: 10px;
    background-color: transparent;
    visibility: hidden;
}

#tabela2{
    max-width: 200px;
    max-height: 80px;
    margin-bottom: 1;
}

.celula-topo{
    padding: 10px;
    font-size: 20px;
    background-color: #008080;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}

.celula{
    border: 1px solid black;
    border-radius: 5px;
    width: 150px;
    background-color: white;
    text-align: center;
    color: black;
    font-size: 18px;
}

.estra{
    width: 95%;
    background-color: #008080;
    height: 3px;
    margin-top: 30px;
}


tr:hover td{
    background-color: #0AA;
}
